<h1><%= @owner.name %></h1>

<h2><%= @owner.name %>'s Restaurants</h2>
<ul>
	<% @restaurants.each do |restaurant| %>
	<li><%= restaurant.name %></li>
	<% end %>
</ul>

<h2>Reservations</h2>
	<ul>
		<% @reservations.each do |reservation| %>
		<li><%= reservation.name %></li>
		<% end %>
	</ul>